{{ if .Page.Site.Params.Privacy.Ted.Disable }}
<a href="https://www.ted.com/talks/{{ .Get 0 }}">TED Talk: {{ .Get 0 }}</a>
{{else}}
<div style="max-width:854px">
  <div style="position:relative;height:0;padding-bottom:56.25%">
    <iframe src="https://embed.ted.com/talks/{{ .Get 0 }}" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe>
  </div>
</div>
{{end}}